  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

<template name="customers">
    <div class="wrapper">
      <section class="banner-section">
        <h1 class="h1">See why more than 17,000 businesses choose Intercom for personal customer communication</h1><img src="./images/customers/hero.png" width="947">
      </section>
      <section class="customers-section">
        <h2 class="h2">Read our customers stories</h2>
        <h5>Filter by use case</h5>
        <div class="filter">
          <label>
            <input type="checkbox" data-filter="onboarding"><span>Onboarding and retention</span>
          </label>
          <label>
            <input type="checkbox" data-filter="support"><span>Support and live chat</span>
          </label>
        </div>
        <div class="customers-list">
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/white-label-dating.jpg"><img class="logo" src="./images/customers/white-label-dating-logo.png" width="45">
              <div class="desc">White Label Dating used Intercom to drive user engagement with in-app messaging on desktop and mobile web.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/white-label-dating-logo.png" width="45">
                <div class="speak">I don't think we really even scratched the surface with Intercom, truth be told. There are lots of elements to the Intercom system that we're not taking advantage of. One of the main reasons that we chose Intercom in the first place is to have flexibility and room to grow. It's the beginning of the ride.</div>
              </div></a></div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/frame-io.jpg"><img class="logo" src="./images/customers/frame-io-logo.png" width="150">
              <div class="desc">Media collaboration platform scales better customer support and engagement.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/frame-io-logo.png" width="150">
                <div class="speak">Intercom feels so personal. So many of the conversations we had in the early days gave us a foundation of very dedicated and loyal customers.</div>
              </div></a></div>
          <div class="customer-card" data-category="support"><a href="#"><img class="photo" src="./images/customers/expensify.jpg"><img class="logo" src="./images/customers/expensify-logo.png" width="140">
              <div class="desc">How Expensify improved the support and sales experience for millions of customers.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/expensify-logo.png" width="140">
                <div class="speak">Intercom has changed the way our Sales and Support teams collaborate. It’s costly to acquire a single customer, so having a single tool that lets us track, coach, and support users through every step of the funnel is priceless.</div>
              </div></a></div>
          <div class="story" data-category=""><img class="logo" src="./images/customers/new-relic.svg" width="180">
            <div class="desc">New Relic wanted useful feedback about a new feature. Rather than spam their entire database with a survey, they used Intercom to target power users of the feature and sent it to their inboxes where it wouldn’t be as disruptive.</div>
            <div class="result-title">Result</div>
            <div class="result">21% replied with feedback, a 2.5x increase than their last, non-targeted survey</div>
          </div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/moz.jpg"><img class="logo" src="./images/customers/moz-logo.png" width="110">
              <div class="desc">How Moz reduced their support median response time by 70% and increased customer loyalty in the process.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/moz-logo.png" width="110">
                <div class="speak">Honestly, Intercom has spoiled our new customers with a great way to get a hold of us and a consistent way to receive onboarding messages. That’s what we want: an amazing experience with our success and support interactions.</div>
              </div></a></div>
          <div class="customers-logos" data-category=""><img src="./images/customers/logos-1.png"><img class="md" src="./images/customers/logos-1-md.png"></div>
          <div class="customer-card" data-category="onboarding"><a href="#"><img class="photo" src="./images/customers/bugherd.jpg"><img class="logo" src="./images/customers/bugherd-logo.png" width="114">
              <div class="desc">Software development company gathers 150% more feedback from customers.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/bugherd-logo.png" width="114">
                <div class="speak">I think what’s great about Intercom is that every message feels immediate and personal, allowing us to scale while staying authentic.</div>
              </div></a></div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/salesloft.jpg"><img class="logo" src="./images/customers/salesloft-logo.png" width="150">
              <div class="desc">How Salesloft used Intercom to go from 5% to 40% of demo appointments booked through live chat.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/salesloft-logo.png" width="150">
                <div class="speak">Intercom lets us identify and prioritize prospects that arrive from the website more efficiently. We can make a personal connection and an impactful experience that sets us apart.</div>
              </div></a></div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/cloudsponge.jpg"><img class="logo" src="./images/customers/cloudsponge-logo.png" width="100">
              <div class="desc">How CloudSponge upgraded 20% of grandfathered accounts in a day.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/cloudsponge-logo.png" width="100">
                <div class="speak">We expected that moving all of our grandfathered customers to new plans would take a year, but with Intercom’s help, we had 20% of them upgrade on the first day – that we didn’t expect.</div>
              </div></a></div>
          <div class="customer-card" data-category="onboarding"><a href="#"><img class="photo" src="./images/customers/invision.jpg"><img class="logo" src="./images/customers/invision-logo.png" width="112">
              <div class="desc">Prototyping tool for designers maintains email open rates above 75%.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/invision-logo.png" width="112">
                <div class="speak">Users are quick to dismiss things that seem fake or contrived, and personalized messaging is one of the best ways to get users to actually receive and read the message you are sending.</div>
              </div></a></div>
          <div class="story" data-category=""><img class="logo" src="./images/customers/typeform.png" width="141">
            <div class="desc">Visitors can build a form or survey before signing up, but in order to save and share it, they need to create an account. To encourage visitors to take this next step, they triggered an in-app message that appears after someone builds their first typeform.</div>
            <div class="result-title">Result</div>
            <div class="result">92% of those who opened the message saved their typeform</div>
          </div>
          <div class="customers-logos" data-category=""><img src="./images/customers/logos-2.png"><img class="md" src="./images/customers/logos-2-md.png"></div>
          <div class="customer-card" data-category="onboarding"><a href="#"><img class="photo" src="./images/customers/desk.jpg"><img class="logo" src="./images/customers/desk-logo.png" width="90">
              <div class="desc">Product management team engages customers 50% more.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/desk-logo.png" width="90">
                <div class="speak">There are plenty of tools that tell you what features your customers use, but sometimes they miss the most important feedback: why customers use features. Intercom gives us that.</div>
              </div></a></div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/baremetrics.jpg"><img class="logo" src="./images/customers/baremetrics-logo.svg" width="179">
              <div class="desc">How Baremetrics used Intercom to increase annual billing by 30%.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/baremetrics-logo.svg" width="179">
                <div class="speak">With Intercom we get the insights we need to constantly improve the customer experience. We can make fewer assumptions about our customers and message them at the best possible moment.</div>
              </div></a></div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/droplr.jpg"><img class="logo" src="./images/customers/droplr-logo.png" width="120">
              <div class="desc">File-sharing app ditches tickets for conversations to build transparency across all customer communications.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/droplr-logo.png" width="120">
                <div class="speak">With Intercom, you get all the right context to solve real people’s problems. This is important if you want to treat your customers like people rather than like tickets.</div>
              </div></a></div>
          <div class="story" data-category=""><img class="logo" src="./images/customers/fitbark.png" width="90">
            <div class="desc">As an activity monitor for dogs, FitBark works best when owners set goals for their dog’s activities. Email reminders were ignored, so FitBark triggered an in-app message to active customers who hadn’t set a goal within their first two weeks.</div>
            <div class="result-title">Result</div>
            <div class="result">92% set an activity goal after seeing this message</div>
          </div>
          <div class="customer-card" data-category="onboarding"><a href="#"><img class="photo" src="./images/customers/vend.jpg"><img class="logo" src="./images/customers/vend-logo.png" width="70">
              <div class="desc">Point-of-sale solution increases conversion rate by 30%.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/vend-logo.png" width="70">
                <div class="speak">I remember the moment we turned on Intercom - as the map of our customers began to populate in real time, we literally high fived each other!</div>
              </div></a></div>
          <div class="customers-logos" data-category=""><img src="./images/customers/logos-3.png"><img class="md" src="./images/customers/logos-3-md.png"></div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/put-io.jpg"><img class="logo" src="./images/customers/put-io-logo.png" width="120">
              <div class="desc">Pro-active support helps cloud-based bittorrent engine reduce churn by 14%.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/put-io-logo.png" width="120">
                <div class="speak">It’s nice being able to announce problems through a private two-way conversation, rather than as a one-off message posted in a forum or through Twitter. Email-based confessions come too late or too early.</div>
              </div></a></div>
          <div class="story" data-category=""><img class="logo" src="./images/customers/later.png" width="112">
            <div class="desc">Later, a popular mobile app for Instagram scheduling, wanted to reach out to new signups before they slipped away. Using Intercom, they sent an email to new users who hadn’t been active for two days.</div>
            <div class="result-title">Result</div>
            <div class="result">23% of recipients scheduled a post<br/>17% more users were retained from targeted on boarding messages</div>
          </div>
          <div class="customer-card" data-category="onboarding, support"><a href="#"><img class="photo" src="./images/customers/codeship.jpg"><img class="logo" src="./images/customers/codeship-logo.png" width="150">
              <div class="desc">Continuous integration tool stays personal while quadrupling users.</div>
              <div class="read">Read Story</div>
              <div class="overlay"><img class="logo" src="./images/customers/codeship-logo.png" width="150">
                <div class="speak">One of the best things about Intercom is that with a few clicks, anyone can create a customer segment without additional implementation or programming.</div>
              </div></a></div>
        </div>
      </section>
      <section class="last-section">
        <div class="customers-words">
          <div class="carousel">
            <div class="carousel-item"><img src="./images/customers/wake.svg" width="40">
              <p class="h2">“Intercom brings us closer to our customers. I have no idea what we would do without it!”</p>
            </div>
            <div class="carousel-item"><img src="./images/customers/chariot.png" width="100">
              <p class="h2">“The Intercom Messenger has helped Chariot easily personalize communication with our commuters. It has even opened up numerous opportunities to engage with new partners!”</p>
            </div>
            <div class="carousel-item"><img src="./images/customers/fog.svg" width="150">
              <p class="h2">“We love the Messenger's teammate profiles - they allow us to show more personality, making it clear there's real people helping our customers - rather than faceless agents and this helps us build positive relationships.”</p>
            </div>
          </div>
          <div class="globe">
            <div class="arrow"></div><img src="./images/customers/globe-1.gif" width="124">
          </div>
        </div>
        <div class="trial-form">
          <h2 class="h1 tx-blue">Try Intercom free for 14 days</h2>
          <form class="get-started" actions="">
            <div class="clearfix home-form">
              <input class="email" type="text" name="" placeholder="Enter your emial">
              <button class="btn btn-primary" type="submit">Get Started</button>
            </div>
          </form><span class="form-desc">Easy setup &nbsp;&bullet;&nbsp; Send unlimited messages &nbsp;&bullet;&nbsp; Buy or cancel at any time</span>
        </div>
      </section>
    </div>
    <footer>
      <div class="content-wrapper">
        <div class="footer-links">
          <div class="links">
            <div class="link-title">PRODUCTS</div>
            <ul>
              <li><a href="./live-chat.html">Website Live Chat</a></li>
              <li><a href="#">Customer Engagement</a></li>
              <li><a href="#">Customer Support</a></li>
              <div class="separate-line"></div>
              <li><a href="#">View Pricing</a></li>
              <li><a href="#">Intercom for Early Stage</a></li>
              <li><a href="#">Intercom Platform<span class="footer-new">FREE</span></a></li>
            </ul>
          </div>
          <div class="links">
            <div class="link-title">FEATURES</div>
            <ul>
              <li><a href="#">In-App Messaging</a></li>
              <li><a href="#">Team Inbox</a></li>
              <li><a href="#">Knowledge Base</a></li>
              <li><a href="#">Intercom for Mobile</a></li>
              <li><a href="#">Integrations</a></li>
              <li><a href="#">iOS & Android Apps</a></li>
            </ul>
          </div>
          <div class="links">
            <div class="link-title">RESOURCES</div>
            <ul>
              <li><a href="./demos.html">Watch a Demo</a></li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Developers</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">Security</a></li>
            </ul>
          </div>
          <div class="links">
            <div class="link-title">COMPANY</div>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="./customers.html">Customers</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Press Resources</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="links">
            <div class="link-title">FROM THE BLOG</div>
            <div class="separate-line"></div>
            <ul>
              <li><a href="#">Why sales and support should be friends, not foes</a></li>
              <li><a href="#">Scott Belsky on the importance of your product’s first mile</a></li>
              <li><a href="#">Slack’s Judy Watkins on improving customer support as you grow</a></li>
            </ul>
            <div class="read-more"><a href="#">Read More →</a></div>
          </div>
        </div>
        <div class="copyright">
          <div class="copyright-links"><a href="#">Terms</a><a href="#">Privacy</a><a href="#">team@intercom.com</a></div>
          <div class="share-links"><a href="#">
              <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Flat_copy">
                  <path fill="#1f8ded" d="M11.848,32h6.612V15.998h4.411l0.584-5.514H18.46l0.007-2.761c0-1.437,0.137-2.209,2.2-2.209h2.757V0h-4.412   c-5.299,0-7.164,2.675-7.164,7.174v3.311H8.545v5.515h3.303V32z"></path>
                </g>
              </svg></a><a href="#">
              <svg enable-background="new 0 0 32 32" height="32px" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M31.993,6.077C30.816,6.6,29.552,6.953,28.223,7.11c1.355-0.812,2.396-2.098,2.887-3.63  c-1.269,0.751-2.673,1.299-4.168,1.592C25.744,3.797,24.038,3,22.149,3c-3.625,0-6.562,2.938-6.562,6.563  c0,0.514,0.057,1.016,0.169,1.496C10.301,10.785,5.465,8.172,2.227,4.201c-0.564,0.97-0.888,2.097-0.888,3.3  c0,2.278,1.159,4.286,2.919,5.464c-1.075-0.035-2.087-0.329-2.972-0.821c-0.001,0.027-0.001,0.056-0.001,0.082  c0,3.181,2.262,5.834,5.265,6.437c-0.55,0.149-1.13,0.23-1.729,0.23c-0.424,0-0.834-0.041-1.234-0.117  c0.834,2.606,3.259,4.504,6.13,4.558c-2.245,1.76-5.075,2.811-8.15,2.811c-0.53,0-1.053-0.031-1.566-0.092  C2.905,27.913,6.355,29,10.062,29c12.072,0,18.675-10.001,18.675-18.675c0-0.284-0.008-0.568-0.02-0.85  C30,8.55,31.112,7.395,31.993,6.077z" fill="#1f8ded"></path>
              </svg></a><a href="#">
              <svg enable-background="new 0 0 32 32" height="32px" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect fill="#1f8ded" height="23" width="7" y="9"></rect>
                <path d="M24.003,9C20,9,18.89,10.312,18,12V9h-7v23h7V19c0-2,0-4,3.5-4s3.5,2,3.5,4v13h7V19C32,13,31,9,24.003,9z" fill="#1f8ded"></path>
                <circle cx="3.5" cy="3.5" fill="#1f8ded" r="3.5"></circle>
              </svg></a></div>
        </div>
        <div class="brand"><img src="./images/footer/brand.svg"></div>
      </div>
    </footer>
</template>
