  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

<template name="demos">
    <div class="wrapper">
      <div class="demos">
        <div class="banner">
          <div class="banner-text">
            <h1 class="h1">Learn how to use Intercom from the people who build it</h1>
            <div class="banner-desc h5">Our demos focus on the jobs Intercom will do for you. They’re short and to the point, featuring best practices to help you work better.</div>
          </div>
          <div class="banner-img">
            <div class="banner-bg"></div><img src="./images/demos/hero.png">
          </div>
        </div>
        <div class="demos-grid">
          <div class="demo"> <a class="demo-detail" href="#">
              <h2 class="h4">Engage customers</h2>
              <div class="demo-play">watch the video</div>
              <div class="demo-desc">Onboard new users to become fully-engaged, active customers</div>
              <div class="demo-show h5">We’ll show you:</div>
              <ul>
                <li>What messages to send</li>
                <li>Tips for targeting the right users</li>
                <li>How to create message campaigns</li>
              </ul>
              <div class="demo-tag">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
  <path d="M2470.09,313.372a25,25,0,1,1,25-25A25.028,25.028,0,0,1,2470.09,313.372Z" transform="translate(-2445.09 -263.372)" style="fill: #f2b330"></path>
  <path d="M2462.932,289.517l-4.447,4.447a2,2,0,0,0,1.414,3.414h6.121Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
  <path d="M2467.087,297.378h6.006l0.995-4.984a51.814,51.814,0,0,0,1-10.141V282.16c0-7.92-5-10.835-5-10.835s-5,2.913-5,10.829h0a51.814,51.814,0,0,0,1.015,10.335Zm2.985-19.008a2.785,2.785,0,0,1,2.923,2.34,0.54,0.54,0,0,1-.526.66h-0.007a0.521,0.521,0,0,1-.464-0.264c-0.158-.3-0.614-0.736-1.925-0.736s-1.758.426-1.911,0.722a0.526,0.526,0,0,1-.471.278h0a0.54,0.54,0,0,1-.527-0.657A2.764,2.764,0,0,1,2470.072,278.37Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
  <path d="M2481.677,293.964l-4.434-4.434-3.083,7.848h6.1A2,2,0,0,0,2481.677,293.964Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
  <path d="M2472.847,301.3a1.957,1.957,0,0,0-1.321-1.8l-1.437,2.872-1.436-2.873a1.958,1.958,0,0,0-1.321,1.8v0.024c0,1.523,2.758,4.945,2.758,4.945s2.758-3.422,2.758-4.945V301.3Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
</svg>
<span class="yellow">Engage</span>
              </div></a></div>
          <div class="demo"><a class="demo-detail" href="#">
              <h2 class="h4">Educate customers</h2>
              <div class="demo-play">watch the video</div>
              <div class="demo-desc">Create a public knowledge base where customers can help themselves</div>
              <div class="demo-show h5">We’ll show you how to:</div>
              <ul>
                <li>Create effective help content</li>
                <li>Customize your public help center</li>
                <li>Share articles in conversations</li>
              </ul>
              <div class="demo-tag">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
  <circle class="cls-1" cx="25" cy="25" r="25" style="fill: #7e61ea"></circle>
  <circle class="cls-2" cx="25" cy="25" r="4" style="fill: #fff"></circle>
  <path class="cls-2" d="M16,15a1,1,0,0,1-1-1h0a1,1,0,0,1,1-1H35V11H16a3,3,0,0,0-3,3V36a2,2,0,0,0,2,2H37V15Zm15.3,17.75L28.45,29.9a6,6,0,1,1,1.42-1.41l2.85,2.85Z" style="fill: #fff"></path>
</svg>
<span class="purple">Educate</span>
              </div></a></div>
          <div class="demo"><a class="demo-detail" href="#">
              <h2 class="h4">Support customers</h2>
              <div class="demo-play">watch the video</div>
              <div class="demo-desc">Help customers as a team via in-app chat, email, and social</div>
              <div class="demo-show h5">We’ll show you:</div>
              <ul>
                <li>How your customers can contact you</li>
                <li>Tips for managing conversations</li>
                <li>How to organize product feedback</li>
              </ul>
              <div class="demo-tag">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
  <circle cx="25" cy="25" r="25" style="fill: #7e61ea"></circle>
  <path d="M2470.349,526.877a13.007,13.007,0,1,0,0,26.013h0.012V557.9s12.995-5.005,12.995-18.012A13.007,13.007,0,0,0,2470.349,526.877Z" transform="translate(-2445.361 -516.895)" style="fill: #fff"></path>
  <circle cx="24.992" cy="28.806" r="1.195" style="fill: #7e61ea"></circle>
  <path d="M2470.353,533.9a4,4,0,0,0-3.981,3.655l1.979,0.283a2,2,0,0,1,4.006.058c0,1.992-2.8,1.992-2.8,4.78V542.9h1.593v-0.224c0-1.593,3.2-1.992,3.2-4.78A4,4,0,0,0,2470.353,533.9Z" transform="translate(-2445.361 -516.895)" style="fill: #7e61ea"></path>
</svg>
<span class="purple">Resolve</span>
              </div></a></div>
          <div class="demo"><a class="demo-detail" href="#">
              <h2 class="h4">Acquire customers</h2>
              <div class="demo-play">watch the video</div>
              <div class="demo-desc">Chat with website visitors, capture leads, and continue  by email</div>
              <div class="demo-show h5">We’ll show you:</div>
              <ul>
                <li>How visitors can contact you</li>
                <li>How to chat with visitors</li>
                <li>Conversation best practices</li>
              </ul>
              <div class="demo-tag">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
  <circle cx="25" cy="25" r="25" style="fill: #e6525a"></circle>
  <path d="M15,29H35a4,4,0,0,1,4,4v0a0,0,0,0,1,0,0H11a0,0,0,0,1,0,0v0A4,4,0,0,1,15,29Z" style="fill: #fff"></path>
  <path d="M2470.362,146.612a11,11,0,0,0-11,11l0,1h22v-1A11,11,0,0,0,2470.362,146.612Z" transform="translate(-2445.362 -131.611)" style="fill: #fff"></path>
  <path d="M2470.361,142.611a2,2,0,0,0-2,2h4A2,2,0,0,0,2470.361,142.611Z" transform="translate(-2445.362 -131.611)" style="fill: #fff"></path>
</svg>
<span class="red">Acquire</span>
              </div></a></div>
          <div class="demo"><a class="demo-detail" href="#">
              <h2 class="h4">Get product feedback</h2>
              <div class="demo-play">watch the video</div>
              <div class="demo-desc">Get quality product feedback from the right customers</div>
              <div class="demo-show h5">We’ll show you:</div>
              <ul>
                <li>Why quality research matters</li>
                <li>How to automate your research</li>
                <li>How to get feedback on features</li>
              </ul>
              <div class="demo-tag">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
  <path d="M2470.09,313.372a25,25,0,1,1,25-25A25.028,25.028,0,0,1,2470.09,313.372Z" transform="translate(-2445.09 -263.372)" style="fill: #f2b330"></path>
  <path d="M2462.932,289.517l-4.447,4.447a2,2,0,0,0,1.414,3.414h6.121Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
  <path d="M2467.087,297.378h6.006l0.995-4.984a51.814,51.814,0,0,0,1-10.141V282.16c0-7.92-5-10.835-5-10.835s-5,2.913-5,10.829h0a51.814,51.814,0,0,0,1.015,10.335Zm2.985-19.008a2.785,2.785,0,0,1,2.923,2.34,0.54,0.54,0,0,1-.526.66h-0.007a0.521,0.521,0,0,1-.464-0.264c-0.158-.3-0.614-0.736-1.925-0.736s-1.758.426-1.911,0.722a0.526,0.526,0,0,1-.471.278h0a0.54,0.54,0,0,1-.527-0.657A2.764,2.764,0,0,1,2470.072,278.37Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
  <path d="M2481.677,293.964l-4.434-4.434-3.083,7.848h6.1A2,2,0,0,0,2481.677,293.964Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
  <path d="M2472.847,301.3a1.957,1.957,0,0,0-1.321-1.8l-1.437,2.872-1.436-2.873a1.958,1.958,0,0,0-1.321,1.8v0.024c0,1.523,2.758,4.945,2.758,4.945s2.758-3.422,2.758-4.945V301.3Z" transform="translate(-2445.09 -263.372)" style="fill: #fff"></path>
</svg>
<span class="yellow">Engage</span>
              </div></a></div>
          <div class="demo"><a class="demo-detail" href="#">
              <h2 class="h4">The Intercom Platform</h2>
              <div class="demo-play">watch the video</div>
              <div class="demo-desc">See who your customers are and what they do in your app</div>
              <div class="demo-show h5">We’ll show you how to:</div>
              <ul>
                <li>See who your users are</li>
                <li>See what your users do</li>
                <li>Segment your users</li>
              </ul>
              <div class="demo-tag">
                <div class="h24"></div>
              </div></a></div>
        </div>
        <div class="more">Want to learn more?<a href="#">Check out our Help Center</a><span> &nbsp;→</span></div>
      </div>
    </div>
</template>
