<template name="docs">
  <section class="docs-list">
    <div class="doc-container"><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-1.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-2.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-3.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-4.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-5.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-6.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-7.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-8.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-9.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-10.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-11.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-12.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-13.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-14.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-15.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-16.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a><a class="doc-card" href="#">
        <div class="icon"><img src="./images/doc/doc-17.svg"></div>
        <div class="content-area">
          <div class="title">Install on your product or site</div>
          <div class="desc">Easy steps to setting up Intercom on any platform.</div>
          <div class="info">
            <div class="avatar"><img src="./images/doc/person-1.jpg"><img src="./images/doc/person-2.png"></div>
            <div class="text"><span class="dark">11 articles in this collection</span><br>Written by<span class="dark"> Zara Burke</span> and<span class="dark"> Ruairí Galavan</span></div>
          </div>
        </div></a>
    </div>
  </section>

</template>
