<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>无忧恰克 | 51chat.net</title>
  <meta name="description" content="We make customer messaging apps for sales, marketing, and support, connected on one platform. Our mission is to make business personal again.">

  <meta property="og:title" content="Customer Messaging Platform | Intercom" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.intercom.com/" />
  <meta property="og:image" content="https://marketing.intercomassets.com/assets/social-images/homepage-8b99cf09637e06f3261fd2b22bce4f52a6e305cdacd5308451bd90012adc2665.png" />
  <meta property="og:description" content="We make customer messaging apps for sales, marketing, and support, connected on one platform. Our mission is to make business personal again." />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@intercom" />
  <meta name="twitter:title" content="Customer Messaging Platform | Intercom" />
  <meta name="twitter:description" content="We make customer messaging apps for sales, marketing, and support, connected on one platform. Our mission is to make business personal again." />
  <meta name="twitter:image" content="https://marketing.intercomassets.com/assets/social-images/homepage-8b99cf09637e06f3261fd2b22bce4f52a6e305cdacd5308451bd90012adc2665.png" />
</head>

<template name="home">
  <div class="wrapper">
    <div class="home">
      <div class="bg-box hidden-xs">
        <div class="left-bg"></div>
        <div class="right-bg"></div>
      </div>
      <div class="content-wrapper">
        <div class="communication-way">
          <div class="way old-way">
            <h1 class="h2">{{ dict 'homepage.p1' }}</h1><img src="./images/index/1.png">
          </div>
          <div class="way new-way"><img class="hidden-xs" src="./images/index/2.png">
            <h2 class="h2">{{ dict 'homepage.p2' }}</h2>
            <form actions="">
              <div class="clearfix home-form">
                <input type="text" name="" placeholder="{{ dict 'homepage.p3' }}">
                <button class="btn btn-primary" type="submit">{{ dict 'homepage.p4' }}</button>
              </div>
            </form><span class="form-desc">{{ dict 'homepage.p5' }} &nbsp;&bullet;&nbsp;{{ dict 'homepage.p6' }}&nbsp;&bullet;&nbsp; {{ dict 'homepage.p7' }}</span><img class="visible-xs img-mobile" src="./images/index/2.png">
          </div>
        </div>
        <div class="products">
          <h1 class="h1">{{ dict 'homepage.p8' }}</h1>
          <div class="info h5">{{ dict 'homepage.p9' }}</div>
          <div class="row">
            <div class="col-sm-6 col-xs-12"><a class="title acquire" href="#"><img src="./images/header/acquire.svg"><span class="h2">获取用户</span></a><a class="img-box" href="#"><img class="mouse-out" src="./images/index/3.jpg"><img class="mouse-in" src="./images/index/4.jpg"></a>
              <div class="detail">
                <h3 class="h3">{{ dict 'homepage.p10' }}</h3>
                <p>{{ dict 'homepage.p11' }}</p>
                <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12"><a class="title engage" href="#"><img src="./images/header/engage.svg"><span class="h2">挖掘用户</span></a><a class="img-box" href="#"><img class="mouse-out" src="./images/index/5.jpg"><img class="mouse-in" src="./images/index/6.jpg"></a>
              <div class="detail">
                <h3 class="h3">{{ dict 'homepage.p13' }}</h3>
                <p>{{ dict 'homepage.p14' }}</p>
                <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="customer">
          <h1 class="h2">{{ dict 'homepage.p24' }}</h1>
          <div class="info h5">{{ dict 'homepage.p25' }}</div><a class="btn btn-primary" href="#">{{ dict 'homepage.p12' }}</a>
          <div class="row">
            <div class="col-sm-6 col-xs-12"><a class="title educate" href="#"><img src="./images/header/search-icon.svg"><span class="h2 educate">教育用户</span></a><img class="visible-xs mobile-img" src="./images/index/m1.jpg">
              <div class="detail visible-xs">
                <h3 class="h3">{{ dict 'homepage.p17' }}</h3>
                <p>{{ dict 'homepage.p18' }}</p>
                <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12"><a class="title resolve" href="#"><img src="./images/header/question-icon.svg"><span class="h2">用户满意方案</span></a><img class="visible-xs mobile-img" src="./images/index/m2.jpg">
              <div class="detail visible-xs">
                <h3 class="h3">{{ dict 'homepage.p19' }}</h3>
                <p class="resolve-para">{{ dict 'homepage.p20' }}</p>
                <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
              </div>
            </div>
          </div>
          <div class="row customer-img hidden-xs">
            <div class="col-xs-12"><a href="#"><img class="mouse-out" src="./images/index/8.jpg"><img class="mouse-in" src="./images/index/7.jpg"></a></div>
          </div>
          <div class="row hidden-xs">
            <div class="col-sm-6 col-xs-12">
              <div class="detail">
                <h3 class="h3">{{ dict 'homepage.p17' }}</h3>
                <p>{{ dict 'homepage.p18' }}</p>
                <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="detail">
                <h3 class="h3">{{ dict 'homepage.p19' }}</h3>
                <p class="resolve-para">{{ dict 'homepage.p20' }}</p>
                <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="platform">
          <div class="row">
            <div class="platform-brief">
              <h2 class="h1">{{ dict 'homepage.p21' }}</h2>
              <div class="info">{{ dict 'homepage.p22' }}</div>
            </div>
            <div class="platform-img"><img src="./images/index/9.png">
              <div class="text-box">
                <div class="text">{{ dict 'homepage.p26' }}<br> {{ dict 'homepage.p27' }}</div>
                <div class="more-box"><a class="btn" href="#">{{ dict 'homepage.p12' }}</a><span>{{ dict 'homepage.p29' }}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="free-trial">
        <div class="trial-form">
          <h2 class="h1 tx-blue">{{ dict 'homepage.p23' }}</h2>
          <form actions="">
            <div class="clearfix home-form">
              <input type="text" name="" placeholder="{{ dict 'homepage.p3' }}">
              <button class="btn btn-primary" type="submit">{{ dict 'homepage.p4' }}</button>
            </div>
          </form><span class="form-desc">{{ dict 'homepage.p5' }} &nbsp;&bullet;&nbsp;{{ dict 'homepage.p6' }}&nbsp;&bullet;&nbsp; {{ dict 'homepage.p7' }}</span>
          <div class="join"> <img src="./images/index/logos.png" width="688">
            <div class="join-info">{{ dict 'homepage.p28' }}</div>
            <div class="more"><a href="#">{{ dict 'homepage.p12' }}</a><span>&nbsp;→</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
