<template name="header">

  <header class="site-header">
    <div class="site-header-wrap"><a class="logo" href="/"><img src="./images/header/logo.svg" alt="logo"/></a>
      <div class="mobile-menu">
        <div class="menu-btn"></div>
        <div class="triangle"></div>
        <div class="dropdown-menu">
          <div class="products">
            <div class="products-col"><a class="product" href="/live-chat">
                <div class="desc">Website Live Chat</div>
                <div class="name"><img src="./images/header/acquire.svg" alt="acquire"/><span>Acquire</span></div></a></div>
          </div>
          <div class="products mobile-products"><a class="link-box" href="/demos">
              <div class="icon-text"><img src="./images/header/search-icon.svg"/><span class="purple">+</span><img src="./images/header/question-icon.svg"/><span class="purple h5">Support Solution</span></div>
              <div class="desc">Provide customer support at scale with an integrated help desk and knowledge base</div></a></div>
          <div class="resources"><a class="res" href="/price">Pricing</a><a class="res" href="/blog">Blog</a><a class="res" href="/customers">Customers</a><a class="res" href="/demos">Watch a Demo</a><a class="res" href="/developers">Developers</a><a class="res" href="/doc">Help Center</a><a class="res" href="/careers">Careers</a></div>
          <div class="download-apps">
            <div class="desc">Download Intercom's mobile apps</div>
            <div class="apps">
              <div class="app">iOS App</div>
              <div class="app">Android App</div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-block">
        <div class="dropdown">
          <div class="dropdown-label">Products</div>
          <div class="dropdown-menu">
            <div class="products">
              <div class="products-col"><a class="product" href="/live-chat">
                  <div class="name"><img src="./images/header/acquire.svg" alt="acquire"/><span>Acquire</span></div>
                  <div class="desc">Chat with website visitors, capture leads, and continue conversations by email</div></a></div>
              <div class="products-col"><a class="link-box" href="/demos">
                  <div class="icon-text"><img src="./images/header/search-icon.svg"/><span class="purple">+</span><img src="./images/header/question-icon.svg"/></div>
                  <div class="title purple">Support Solution</div>
                  <div class="desc">Provide customer support at scale with an integrated help desk and knowledge base</div></a><a class="link-box" href="/demos">
                  <div class="title blue">All products are built on the Intercom Platform</div>
                  <div class="desc">Free Forever</div></a></div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown-label">Resources</div>
          <div class="dropdown-menu">
            <div class="resources">
                <a class="res" href="/customers">
                <div class="title">Customers</div>
                <div class="desc">See how customers like InVision are using Intercom</div></a>
                <a class="res" href="/docs">
                <div class="title">Help Center</div>
                <div class="desc">Learn how to install, configure, and use Intercom's products</div></a>

                <a class="res" href="/docs">
                <div class="title">Developers</div>
                <div class="desc">Use our APIs to integrate Intercom with other services</div></a>
                <a class="res" href="/demos">
                <div class="title">Watch a Demo</div>
                <div class="desc">Learn best practices for using Intercom's products and ask questions</div></a></div>
          </div>
        </div>
        <a class="nav-link" href="/blog">Blog</a>
        {{#if currentUser}}
        <a class="nav-link" href="/admin">{{currentUser.profile.name}}</a>
        {{else}}
        <a class="nav-link" href="/admin">Login</a>
        {{/if}}

        <form class="get-started">
          <input type="text" placeholder="Enter your email"/>
          <button type="submit">Get Started</button>
        </form>
      </div>
    </div>
  </header>

{{ app_name }}

</template>
