<template name="header_doc">
  <link href="ui/css/doc.css" rel="stylesheet">
  <header class="docs-header">
    <div class="doc-container">
      <div class="header-container"><a class="logo" href="#"><img src="./images/doc/logo.png"></a>
        <div class="headline">Advice and answers from the Intercom Team</div>
        <form class="search">
          <input type="text" autocomplete="off" placeholder="Search for answers...">
          <button type="submit"></button>
        </form>
      </div>
    </div>
  </header>
</template>
