doctype html
html(lang='zh')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='./css/doc.css')
  body
    block main
    footer.footer
      .footer-container
        a.logo(href='#')
          img(src='./images/doc/logo.png')
        .advert-logo
          img(src='./images/doc/advert-logo.png')
          a(href='#') We run on Intercom
