header.site-header
  .site-header-wrap
    a.logo(href='/')
      img(src='./images/header/logo.svg', alt='logo')
    .mobile-menu
      .menu-btn
      .triangle
      .dropdown-menu
        .products
          .products-col
            a.product(href='./live-chat.html')
              .desc Website Live Chat
              .name
                img(src='./images/header/acquire.svg', alt='acquire')
                span Acquire
        .products.mobile-products
          a.link-box(href='#')
            .icon-text
              img(src='./images/header/search-icon.svg')
              span.purple +
              img(src='./images/header/question-icon.svg')
              span.purple.h5 Support Solution
            .desc Provide customer support at scale with an integrated help desk and knowledge base
        .resources
          a.res(href='#') Pricing
          a.res(href='#') Blog
          a.res(href='#') Customers
          a.res(href='#') Watch a Demo
          a.res(href='#') Developers
          a.res(href='#') Help Center
          a.res(href='#') Careers
        .download-apps
          .desc Download Intercom's mobile apps
          .apps
            .app iOS App
            .app Android App
    .right-block
      .dropdown
        .dropdown-label Products
        .dropdown-menu
          .products
            .products-col
              a.product(href='./live-chat.html')
                .name
                  img(src='./images/header/acquire.svg', alt='acquire')
                  span Acquire
                .desc Chat with website visitors, capture leads, and continue conversations by email
            .products-col
              a.link-box(href='#')
                .icon-text
                  img(src='./images/header/search-icon.svg')
                  span.purple +
                  img(src='./images/header/question-icon.svg')
                .title.purple Support Solution
                .desc Provide customer support at scale with an integrated help desk and knowledge base
              a.link-box(href='#')
                .title.blue All products are built on the Intercom Platform
                .desc Free Forever
      .dropdown
        .dropdown-label Resources
        .dropdown-menu
          .resources
            a.res(href='#')
              .title Customers
              .desc See how customers like InVision are using Intercom
            a.res(href='#')
              .title Help Center
              .desc Learn how to install, configure, and use Intercom's products
            a.res(href='#')
              .title Developers
              .desc Use our APIs to integrate Intercom with other services
            a.res(href='#')
              .title Watch a Demo
              .desc Learn best practices for using Intercom's products and ask questions
      a.nav-link(href='#') Blog
      a.nav-link(href='#') Login
      form.get-started
        input(type='text', placeholder='Enter your email')
        button(type='submit') Get Started
