doctype html
html(lang='zh')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='./css/common.css')
    block css
  body
    include header.pug
    .wrapper
      block content
    include footer.pug

    block js
      script(src='./js/common.js')
